<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search Movie</title>
</head>
<body>
	<p><b>Movie Lover</b></p>
	<img src="<%= @search.movies[0].poster %>" width="200">
	<img src="<%= @search.movies[1].poster %>" width="200">
	<img src="<%= @search.movies[2].poster %>" width="200">
	<img src="<%= @search.movies[3].poster %>" width="200">
	<img src="<%= @search.movies[4].poster %>" width="200">
	<img src="<%= @search.movies[5].poster %>" width="200">
	<img src="<%= @search.movies[6].poster %>" width="200">
	<img src="<%= @search.movies[7].poster %>" width="200">
	<img src="<%= @search.movies[8].poster %>" width="200">
</body>
</html>